{{ $ := .root }}
{{ $page := .page }}

<div class="row justify-content-center people-widget">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.user_groups }}

  {{ $query := where (where site.Pages "Section" "authors") ".Params.user_groups" "intersect" (slice .) }}
  {{ range $query }}

  {{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
  <div class="col-12 col-sm-auto people-person">
    {{ $src := "" }}
    {{ if site.Params.gravatar }}
      {{ $src = printf "https://s.gravatar.com/avatar/%s?s=200" (md5 .Params.email) }}
    {{ else if $avatar }}
      {{ $avatar_image := $avatar.Fill "150x150 Center" }}
      {{ $src = $avatar_image.RelPermalink }}
    {{ end }}
    {{ if $src }}
      <img class="portrait" src="{{ $src }}" alt="Avatar">
    {{ end }}

    <div class="portrait-title">
      <h2><a href="mailto: {{ .Params.email }}">{{ .Params.name }}</a></h2>
      {{ with .Params.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}
      {{ with .Params.office_hours }}<h3>{{ delimit . "<br />" | markdownify | emojify }}</h3>{{ end }}
    </div>
  </div>

  {{ end }}
  {{ end }}
</div>
